.category-page-posts {
  .top-post {
    margin-bottom: 50px;
  }
  .bottom-posts {
    margin-top: 50px;
  }

  .load-more-button {
    background: #212631 !important;
    color: #fff;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    min-width: 150px !important;
    border-radius: 2px;
  }
}
