.single-post-banner {
  height: 275px;
  position: relative;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .post-bottom {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, transparent, #0000005c);
    color: #fff;
    padding-bottom: 50px;
  }
  .post-details {
    display: flex;
    align-items: center;

    .category {
      font-size: 12px;
      padding: 5px 10px;
      background-color: #f6bf23;
      color: #fff;
      text-decoration: none;
      width: fit-content;
      border-radius: 2px;
      font-weight: 600;
      margin-right: 15px;
      transition: 0.4s all;

      &.javascript {
        background-color: #ff8700;
      }
      &.jquery {
        background-color: #8d00ff;
      }
      &.webdesign {
        background-color: #4bb92f;
      }
      &.css {
        background-color: #0078ff;
      }

      &:hover {
        opacity: 0.75;
      }
    }
    .publish-date {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .post-title {
    margin: 0;
    margin-top: 10px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
}
